# Dependencies
node_modules/
.pnp
.pnp.js

# Environment / Secrets
.env
.env.*
!.env.example

# Playwright / Testing
test-results/
playwright-report/
blob-report/
# Targets the playwright hidden folders specifically
.auth/
.cache/

# Project Specific
/supabase/snippets/
