# Dependencies
node_modules/

# Environment Variables
.env

# Supabase Local Testing
supabase/snippets/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
